html, body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#welcomeHolder{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #3a3a3a;
    text-align: center;
}
#welcomeContent{
    position: relative;
    left: 50%;
    margin-left: -400px;
    width: 800px;
    height: 100%;
    top: 0;
    transition-duration: 0.4s;
}
#logo{
    background-image: url('../images/tenebris.svg');
    width: 100%;
    height: 500px;
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center bottom;
}
#title{
    font-size: 100px;
    font-weight: 300;
    
}
#about{
    width: 800px;
    height: 0px;
    transition-duration:0.4s;
    overflow: hidden;
}
#launch{
    background-color: transparent;
    border: 2px solid #fff;
    width: 240px;
    height: 50px;
    font-size: 30px;
    color: #fff;
    font-weight: 300;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    transition-duration: 0.2s;
}
#simulation{
    position: fixed;
    top: 100%;
    background-color: #2a2a2a;
}
#launch:hover{
    background-color: #fff;
    color: #000;
}

#tooltip{
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    border-radius: 3px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    padding: 0 5px 0 5px;
    height: 25px;
    font-size: 20px;
    overflow: hidden;
    display: none;
}
::selection{
    background: #3a3a3a;
    color: #fff;
}
canvas{
    position: absolute;
    top: 0;
    left: 0;
}

#graphStage{
    opacity: 0;
    transition-delay: 0.4s;
    transition-duration: 0.5s;
}

#controlsHolder{
    text-align: center;
    position: fixed;
    right: -340px;
    width: 350px;
    height: 100%;
    transition-duration: 0.3s;
}
#controlsHolder:hover{
    right: 0;
}
#controls{
    margin-left: 10px;
    width: 330px;
    height: 100%;
    font-weight: 400;
}
input{
    
    font-family: 'Open Sans', sans-serif;
    background-color: #efefef;
    text-align: center;
    color: #9a9a9a;
    outline-color: #2AC1D6;
    transition-duration: 0.2s;
    z-index: 10;
    border: none;
    
    height: 30px;
}
input:focus{
    color: #000;
    
    
    transition-duration: 0.2s;
    background-color: #fff;
    
}

.controlsInput{
    font-weight: 300;
    margin: 5px 5px 0px 5px;
    width: 320px;
    font-size: 20px;
}
button{
    border: 3px solid #4DD1E3;
    height: 35px;
    font-family: 'Open Sans', sans-serif;
    outline: none;
}
button:active{
    background-color: #4DD1E3;
    border-color: #4DD1E3;
}
slider{
    width: 320px;
    height: 30px;
    margin: 5px;
}
.slide{
    position: relative;
    left: 50px;
    top: 0;
    height: 27px;
    width: 30px;
    float: left;
}

#objectVariables{
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 330px;
    padding-bottom: 5px;
    display: none;
}
.close{
    height: 28px;
    width: 30px;
    margin: 2px;
    background-color: #3a3a3a;
    float: left;
}
.handle{
    width: 100%;
    height: 32px;
}
.half{
    width: 157.5px;
    margin-right: 0px;
    float: left;
}
.white{
    color: white;
}
.black{
    color: black;
}
.colour1{
    background-color: #AAEDF7;
}
.colour2{
    background-color: #76DFED;
}
.colour3{
    background-color: #4DD1E3;
}
.colour4{
    background-color: #2AC1D6;
}
.colour5{
    background-color: #05ABC3;
}